.container {
  display: flex;
}

.content {
  flex: 1;
  min-height: 100vh;
  background-color: #181a1f;
}

.canvasContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3vh;
}

.canvas {
  border: 1px solid #374151;
  margin-bottom: 1rem;
  background: #111111;
  width: 512px;
  height: 512px;
}

.textarea {
  background-color: #1f2937;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 500px;
  height: 200px;
  display: block;
}

.buttonsContainer {
  display: flex;
  gap: 0.5rem;
}

.button {
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease-out;
  transition: transform 0.41s cubic-bezier(0.05,0.38,0.00,1.55);
}

.button:hover {
  opacity: 0.9;
  transform: scale(1.1);
  transition: background-color 0.3s ease-out;
  transition: transform 0.41s cubic-bezier(0.05,0.38,0.00,1.76);
}

.runButton {
  composes: button;
  background-color: #3b82f6;
}

.runButton:hover {
  background-color: #1d4ed8;
}

.stepButton {
  composes: button;
  background-color: #10b981; 
}

.stepButton:hover {
  background-color: #047857; /* green-700 */
}

.postButton {
  composes: button;
  background-color: #8b5cf6; /* purple-500 */
}

.postButton:hover {
  background-color: #7c3aed; /* purple-700 */
}