@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

html, body, #root {
  height: 100%;
}

.page-container {
  width: 100dvw;
  height: 100dvh;
}